name: Python tests


on: [push]

jobs:


  build:



    stages:
      - test
      - build
      - deploy

    trivy-scan:
      stage: test
      image:
        name: docker.io/aquasec/trivy:latest
        entrypoint: [""]
      script:
        - trivy image --clear-cache
        - trivy image --download-db-only
        - trivy image --severity HIGH,CRITICAL nginx:latest

    build:
      image: docker:latest
      stage: build
      script:
        - echo "Building the project..."
        - docker build -t nginx:latest .

    deploy:
      image: docker:latest
      stage: deploy
      script:
        - echo "Deploying the project..."
        - docker run -d --name my-app nginx:latest